@font-face {
  font-family: 'texgyreadventor';
  src: url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-regular-webfont.eot");
  src: url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-regular-webfont.eot?#iefix") format("embedded-opentype"), url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-regular-webfont.woff") format("woff"), url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-regular-webfont.ttf") format("truetype"), url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'texgyreadventor';
  src: url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-bold-webfont.eot");
  src: url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-bold-webfont.eot?#iefix") format("embedded-opentype"), url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-bold-webfont.woff") format("woff"), url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-bold-webfont.ttf") format("truetype"), url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-bold-webfont.svg#texgyreadventorbold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'texgyreadventor';
  src: url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-bolditalic-webfont.eot");
  src: url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-bolditalic-webfont.woff") format("woff"), url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-bolditalic-webfont.ttf") format("truetype"), url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-bolditalic-webfont.svg#texgyreadventorbold_italic") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'texgyreadventor';
  src: url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-italic-webfont.eot");
  src: url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-italic-webfont.eot?#iefix") format("embedded-opentype"), url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-italic-webfont.woff") format("woff"), url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-italic-webfont.ttf") format("truetype"), url("https://drotek.com/shop/themes/drotek/css/../../../fonts/texgyreadventor-italic-webfont.svg#texgyreadventoritalic") format("svg");
  font-weight: normal;
  font-style: italic; }

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#block_top_menu {
    padding: 35px 0 10px 0;
    background: url(https://drotek.com/shop/themes/drotek/css/../img/Header-BGTriangle.png) no-repeat top center #262626;
    border-bottom: 5px solid #666666;
    position: relative;
    top: -1px;
}

.col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    min-height: 1px;
}

.sf-contener {
    width: auto;
    padding-top: 35px;
    margin-bottom: 10px;
}

#menu-menu-principal{
    text-align: center;
    padding-top: 45px;
    padding-bottom: 20px;
}

#header_logo{
    float: left;
    position: relative;
    top: 50px;
    left: 140px;
}

.sf-menu {
    position: relative;
    padding: 0;
    width: 100%;
    border-bottom: 0 solid #e9e9e9;
    background: none;
    display:block;
}

.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sf-menu > li {
    display: inline-block;
    border-right: 0 solid #d6d4d4;
    margin-bottom: -3px;
}

.sf-menu li.sfHover a, 
.sf-menu li a:hover, 
.sf-menu li.sfHoverForce  a{
    color: #DC2400;
    background: none;
    border: 1px solid #DC2400;
    text-decoration: none;
    -moz-border-radius: 3px / 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px / 3px;
}

.sf-menu li a {
    //font: 300 17px/22px "texgyreadventor","Open Sans",sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 17px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding: 7px 14px;
    border: 1px solid transparent;
}

.sf-menu li.home-icon a {
    background: url(https://drotek.com/shop/themes/drotek/css/modules/blocktopmenu/css/../../../../img/Home-icon.png) no-repeat -1px -3px;
    display: block;
    width: 40px;
    height: 38px;
    text-indent: -100000px;
}

.cat-title {
    display: none;
}

.menu-open{
    display: block !important;
}

.menu-close{
    display: none !important;
}

@media (max-width: 1400px) {
    #header_logo {
        float: none;
        text-align: center;
        left: 0;
    }
}


@media (min-width: 901px) {
    .sf-menu {
        display:block !important;
    }
}


@media (max-width: 900px) {
    #header_logo {
        padding-bottom: 40px;
    }
    
    .cat-title {
        display: block;
        //font: 300 16px/22px "texgyreadventor","Open Sans",sans-serif;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: 300;
        font-stretch: normal;
        font-size: 17px;
        text-transform: uppercase;
        color: white;
        display: block;
        padding: 17px 20px;
        border-bottom: 1px solid #430b00;
        background: #DC2400;
        position: relative;
    }
    
    .cat-title:after {
        display: block;
        font-family: "FontAwesome";
        content: "\f067";
        position: absolute;
        right: 15px;
        top: 18px;
        font-size: 26px;
    }
    
    .cat-title.active:after {
        content: "\f068";
    }
    
    .sf-menu {
        display:none;
    }
    
    #menu-menu-principal{
        padding-top: 0;
        padding-bottom: 0;
        text-align: left;
    }
    
    .sf-menu li {
        display: block;
    }
    
    .sf-menu li.home-icon a {
        background:none;
        width: auto;
        height: auto;
        text-indent: 0;
    }
    
    #header_logo{
        left: 0;
    }
    
    .clearfix:before, .clearfix:after {
      content: " ";
      display: table; }
    
    .clearfix:after {
      clear: both; }
    }